<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="color:red" *ngIf="serverErrorMessage">
    {{serverErrorMessage}}
  </div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
      <label for="email">Email</label>
      <input type="email" formControlName="email">
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" formControlName="password">
    </div>
    <div>
      <button type="submit">Login </button>
    </div>
  </form>
  <button (click)="navigateToSignup()">Dont have account? Signup here</button>
</ion-content>