<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Journal Application
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Journals</ion-title>
        </ion-toolbar>
    </ion-header>

    <div id="container">
        <ion-card *ngFor="let note of listOfJournals">
            <ion-card-header>
                <ion-card-subtitle> #{{note.id}}</ion-card-subtitle>
                <ion-card-title>{{note.title}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                {{note.decrip}}
            </ion-card-content>
        </ion-card>
    </div>




    <button (click)="navigate()">Go to add journal</button>
</ion-content>